<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pattern.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @pattern.location %>
</p>

<%= link_to 'Edit', edit_pattern_path(@pattern) %> |
<%= link_to 'Back', patterns_path %>
